<div class="container">
    <div class="dashboard">
      <div class="logo-section">
        <img src="../../../assets/logocircle.PNG" alt="Circle Products Logo">
        <h1><span>Circle</span> Product</h1>
      </div>
      <div class="menu">
        <h2>Dashboard</h2>
        <h2 class="active">Products Management</h2>
        <h2>Employees Management</h2>
        <hr>
        <h2>Logout</h2>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  