<div class="container">
  <div *ngIf="product" class="content">
    <div class="header">
      <a routerLink="/home" class="back-button">
        <img src="../../../assets/left_arrow.PNG" alt="Back">
      </a>
      <h1>{{ product.title }}</h1>
    </div>
    <div class="product-info">
      <div class="image-container">
        <img [src]="product.image" alt="{{ product.title }}">
      </div>
      <div class="description-category-container">
        <div class="description">
          <h2>Description</h2>
          <p>{{ product.description }}</p>
          <h2>Price</h2>
          <div class="price-container">
            <input type="number" [(ngModel)]="product.price" min="0">
            <p class="TVA_price">Price (including VAT): {{ product.price * 1.2 }}</p>
          </div>
          <button [disabled]="!priceChanged()" (click)="updateProduct()">Update Product</button>
        </div>
        <div class="category">
          <h2>Category</h2>
          <span class="category {{ product.categoryClass }}">{{ product.category }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
